
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 100%;
    text-align: right;
}
.signature {
    float:left;
}
ul {
    width: 97%;
}
.heroImg {
    height: 600px;
}
.content {
    width: 100%;
}
.heroimage {
    float:right;
}

#flexContainer {
    display:grid;
    grid-template-rows: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "Skill1 Skill2 Skill3"
    ;
}
/*
#flexContainer {
    display:grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Skill1"
    "Skill2"
    "Skill3"
    ;
}
*/
.mySkillsdev {
    padding-left: 45px;
}

.uxSkills {
    border: 2px solid black;
}
#workGrid {
    display:grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "Patent1 Patent2"
    ;
}

.workImages {
    padding-left: 45px;
}
footer {
    clear:both;
    background-color: #373738;
    padding: 1% 1% 1% 1%;
    text-align:center;
}
ul.footer {
    display: inline-block;
    vertical-align: top;
    padding: 50% 50% 50% 50%;
}
h1 {
    font-size: 36px;
    font-family: 'Red Hat Text', sans-serif;
}
p {
    font-size: 24px;
    font-family: 'Red Hat Mono', monospace;
}

@media only screen and (max-width: 600px) {
    /*
    body {
      background-color: lightblue;
    }
    */
    #workGrid {
        grid-template-rows: 600px 600px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Patent1"
        "Patent2"
        ;
    }   
    #flexContainer {
        display:grid;
        grid-template-rows: 450px 450px 450px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Skill1"
        "Skill2"
        "Skill3"
        ;
    }
  }

/*
@media only screen and (max-width: 1000) {

    .workGrid {
        display:grid;
        grid-template-rows: 600px 600px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Patent1"
        "Patent2"
        ;
    }   

#workGrid {
    grid-template-rows: 600px 600px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Patent1"
    "Patent2"
    ;
}    

#flexContainer {
    display:grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Skill1"
    "Skill2"
    "Skill3"
    ;
}
}
*/
